<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giovanni.baoovero">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icona_profilo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icona_profilo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.giovanni.baoovero.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".SviluppatoriActivity"
                  android:parentActivityName=".MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ProfileDogActivity" />
        <activity
            android:name=".FavouriteActivity"
            android:parentActivityName=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FilterSearchActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SliderActivity" />
        <activity
            android:name=".FilterActivity"
            android:parentActivityName=".FilterSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".EditActivity"
            android:parentActivityName=".ProfileActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>