<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giovanni.baoovero">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icona_profilo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icona_profilo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FilterActivity"></activity>
        <activity android:name=".SignUp"
                  android:parentActivityName=".LoginActivity"/>
        <activity android:name=".LoginActivity"
                  android:parentActivityName=".MainActivity"/>
        <activity android:name=".ForgotPassword"
                  android:parentActivityName=".LoginActivity"/>
        <activity android:name=".Dog_Activity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity"
                  android:parentActivityName=".MainActivity"/>
        <activity android:name=".DashBoard" />
        <activity android:name=".Add_Activity"
                  android:parentActivityName=".MainActivity"/>
    </application>

</manifest>